<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_gkey}
			<a href="#" id="addSearchControl_gkey" class="addSearchControl" {$addSearchControl_gkey_attrs}>Gkey</a><br>
		{END addSearch_gkey}
		{BEGIN addSearch_eq_nbr}
			<a href="#" id="addSearchControl_eq_nbr" class="addSearchControl" {$addSearchControl_eq_nbr_attrs}>Eq Nbr</a><br>
		{END addSearch_eq_nbr}
		{BEGIN addSearch_line_id}
			<a href="#" id="addSearchControl_line_id" class="addSearchControl" {$addSearchControl_line_id_attrs}>Line Id</a><br>
		{END addSearch_line_id}
		{BEGIN addSearch_depo_id}
			<a href="#" id="addSearchControl_depo_id" class="addSearchControl" {$addSearchControl_depo_id_attrs}>Depo Id</a><br>
		{END addSearch_depo_id}
		{BEGIN addSearch_shipping_agents_id}
			<a href="#" id="addSearchControl_shipping_agents_id" class="addSearchControl" {$addSearchControl_shipping_agents_id_attrs}>Shipping Agents Id</a><br>
		{END addSearch_shipping_agents_id}
		{BEGIN addSearch_shipping_agent_name}
			<a href="#" id="addSearchControl_shipping_agent_name" class="addSearchControl" {$addSearchControl_shipping_agent_name_attrs}>Shipping Agent Name</a><br>
		{END addSearch_shipping_agent_name}
		{BEGIN addSearch_creator}
			<a href="#" id="addSearchControl_creator" class="addSearchControl" {$addSearchControl_creator_attrs}>Creator</a><br>
		{END addSearch_creator}
		{BEGIN addSearch_created}
			<a href="#" id="addSearchControl_created" class="addSearchControl" {$addSearchControl_created_attrs}>Created</a><br>
		{END addSearch_created}
		{BEGIN addSearch_port_of_origin}
			<a href="#" id="addSearchControl_port_of_origin" class="addSearchControl" {$addSearchControl_port_of_origin_attrs}>Port Of Origin</a><br>
		{END addSearch_port_of_origin}
		{BEGIN addSearch_consignee}
			<a href="#" id="addSearchControl_consignee" class="addSearchControl" {$addSearchControl_consignee_attrs}>Consignee</a><br>
		{END addSearch_consignee}
		{BEGIN addSearch_port_of_destination}
			<a href="#" id="addSearchControl_port_of_destination" class="addSearchControl" {$addSearchControl_port_of_destination_attrs}>Port Of Destination</a><br>
		{END addSearch_port_of_destination}
		{BEGIN addSearch_bl_nbr}
			<a href="#" id="addSearchControl_bl_nbr" class="addSearchControl" {$addSearchControl_bl_nbr_attrs}>Bl Nbr</a><br>
		{END addSearch_bl_nbr}
		{BEGIN addSearch_category}
			<a href="#" id="addSearchControl_category" class="addSearchControl" {$addSearchControl_category_attrs}>Category</a><br>
		{END addSearch_category}
		{BEGIN addSearch_document_verfied}
			<a href="#" id="addSearchControl_document_verfied" class="addSearchControl" {$addSearchControl_document_verfied_attrs}>Document Verfied</a><br>
		{END addSearch_document_verfied}
		{BEGIN addSearch_survey_pos_id}
			<a href="#" id="addSearchControl_survey_pos_id" class="addSearchControl" {$addSearchControl_survey_pos_id_attrs}>Survey Pos Id</a><br>
		{END addSearch_survey_pos_id}
		{BEGIN addSearch_ctr_position}
			<a href="#" id="addSearchControl_ctr_position" class="addSearchControl" {$addSearchControl_ctr_position_attrs}>Ctr Position</a><br>
		{END addSearch_ctr_position}
		{BEGIN addSearch_iso_code}
			<a href="#" id="addSearchControl_iso_code" class="addSearchControl" {$addSearchControl_iso_code_attrs}>Iso Code</a><br>
		{END addSearch_iso_code}
		{BEGIN addSearch_eq_size}
			<a href="#" id="addSearchControl_eq_size" class="addSearchControl" {$addSearchControl_eq_size_attrs}>Eq Size</a><br>
		{END addSearch_eq_size}
		{BEGIN addSearch_eq_type}
			<a href="#" id="addSearchControl_eq_type" class="addSearchControl" {$addSearchControl_eq_type_attrs}>Eq Type</a><br>
		{END addSearch_eq_type}
		{BEGIN addSearch_shipping_line_name}
			<a href="#" id="addSearchControl_shipping_line_name" class="addSearchControl" {$addSearchControl_shipping_line_name_attrs}>Shipping Line Name</a><br>
		{END addSearch_shipping_line_name}
		{BEGIN addSearch_tare_weight_unit}
			<a href="#" id="addSearchControl_tare_weight_unit" class="addSearchControl" {$addSearchControl_tare_weight_unit_attrs}>Tare Weight Unit</a><br>
		{END addSearch_tare_weight_unit}
		{BEGIN addSearch_payment_release}
			<a href="#" id="addSearchControl_payment_release" class="addSearchControl" {$addSearchControl_payment_release_attrs}>Payment Release</a><br>
		{END addSearch_payment_release}
		{BEGIN addSearch_trx_id}
			<a href="#" id="addSearchControl_trx_id" class="addSearchControl" {$addSearchControl_trx_id_attrs}>Trx Id</a><br>
		{END addSearch_trx_id}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</td>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
