

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-detailspreviewheader" {$brickclass_detailspreviewheader}><span>Invoice
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-detailspreviewdetailsfount" {$brickclass_detailspreviewdetailsfount}><span>Details found: <strong>{$row_count}.</strong>
</span></td>



{BEGIN display_first}
<td  class="runner-cc runner-bl runner-b-detailspreviewdispfirst" {$brickclass_detailspreviewdispfirst}><span>Displaying first: <strong>{$display_count}</strong>.
</span></td>
{END display_first}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table cellpadding="1" cellspacing="1" class="runner-detailtable">
	<tr>
		<td><strong>Invoice Nbr</strong></td>
		<td><strong>Trx Id</strong></td>
		<td><strong>Iso Code</strong></td>
		<td><strong>Qty Of 20</strong></td>
		<td><strong>Qty Of 40</strong></td>
		<td><strong>Total</strong></td>
		<td><strong>Created</strong></td>
		<td><strong>Creator</strong></td>
	</tr>
	{BEGIN details_row}
	<tr>
		<td>{$invoice_nbr_value}</td>
		<td>{$trx_id_value}</td>
		<td>{$iso_code_value}</td>
		<td>{$qty_of_20_value}</td>
		<td>{$qty_of_40_value}</td>
		<td>{$total_value}</td>
		<td>{$created_value}</td>
		<td>{$creator_value}</td>
	</tr>
{END details_row}
</table>

{END details_data}



{END container_detailspreviewgrid}

