

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b>Master table: [Transaction]</b></span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Trx Id</th>
			<th class="runner-cc ">Depo Id</th>
			<th class="runner-cc ">Trx Type Id</th>
			<th class="runner-cc ">Doc Number</th>
			<th class="runner-cc ">Vessel Name</th>
			<th class="runner-cc ">Vessel Voyage Id</th>
			<th class="runner-cc ">Vessel Id</th>
			<th class="runner-cc ">Customer Name</th>
			<th class="runner-cc ">Shipping Agent Id</th>
			<th class="runner-cc runner-clast">Shipping Agent Name</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$trx_id_mastervalue}</td>
			<td class="runner-cc ">{$depo_id_mastervalue}</td>
			<td class="runner-cc ">{$trx_type_id_mastervalue}</td>
			<td class="runner-cc ">{$doc_number_mastervalue}</td>
			<td class="runner-cc ">{$vessel_name_mastervalue}</td>
			<td class="runner-cc ">{$vessel_voyage_id_mastervalue}</td>
			<td class="runner-cc ">{$vessel_id_mastervalue}</td>
			<td class="runner-cc ">{$customer_name_mastervalue}</td>
			<td class="runner-cc ">{$shipping_agent_id_mastervalue}</td>
			<td class="runner-cc runner-clast">{$shipping_agent_name_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

